# Exploring the Extrovert-Introvert Behavior Dataset via JupyterLab and Google Cloud Big Query
---

In [1]:
# Initialize the Big Query Client and Auth
from google.cloud import bigquery, storage
import os

# Set up authentication (ensure you have a service account key)
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../env/ccbd-exam-2025-darnall-939537d72960.json"

# Initialize BigQuery and Cloud Storage clients
bq_client = bigquery.Client()
gcs_client = storage.Client()

In [2]:
# Connect to the Big Query and Bucket assets
dataset_id = "ccbd-exam-2025-darnall.intro_extro_behavior"
table_id = "intro_extro_data"
# gcs_uri = "gs://ccbd-exam-2025-darnall-gc-bucket/datasets/introvert-vs-extrovert-behavior/personality_dataset.csv"

# Assess dataset balance
query = f"""
SELECT Personality AS Personality, COUNT(*) AS Samples
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_1 = bq_client.query(query).to_dataframe()
query_1.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Samples
0   Introvert     1409
1   Extrovert     1491

In [3]:
# Absolute ammount of friends per personality type
query = f"""
SELECT Personality, COUNT(*) AS Total_Friend_Count
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_2 = bq_client.query(query).to_dataframe()
query_2.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Total_Friend_Count
0   Introvert                1409
1   Extrovert                1491

In [4]:
# Average friend group size per personality type
query = f"""
SELECT Personality, AVG(Friends_circle_size) AS Average_Friend_Group_Size
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_3 = bq_client.query(query).to_dataframe()
query_3.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Average_Friend_Group_Size
0   Introvert                   3.196793
1   Extrovert                   9.173673

In [5]:
# Visualize in bins the most common friend group ranges - extroverts
query = f"""
SELECT 
    CASE 
        WHEN Friends_circle_size BETWEEN 0 AND 5 THEN '0-5'
        WHEN Friends_circle_size BETWEEN 6 AND 10 THEN '6-10'
        WHEN Friends_circle_size BETWEEN 11 AND 15 THEN '11-15'
        WHEN Friends_circle_size BETWEEN 16 AND 20 THEN '16-20'
        ELSE 'Unknown'
    END AS size_bin,
    COUNT(*) AS group_count,
    AVG(Friends_circle_size) AS Average_Group_Size
FROM 
    `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
WHERE
    Personality = 'Extrovert'
GROUP BY 
    size_bin
ORDER BY 
    CASE 
        WHEN size_bin = '0-5' THEN 1
        WHEN size_bin = '6-10' THEN 2
        WHEN size_bin = '11-15' THEN 3
        WHEN size_bin = '16-20' THEN 4
        ELSE 5
    END;
"""

query_4 = bq_client.query(query).to_dataframe()
query_4.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  size_bin  group_count  Average_Group_Size
0      0-5          206            3.402913
1     6-10          687            8.000000
2    11-15          558           12.749104
3  Unknown           40                 NaN

In [6]:
# Visualize in bins the most common friend group ranges - introverts
query = f"""
SELECT 
    CASE 
        WHEN Friends_circle_size BETWEEN 0 AND 5 THEN '0-5'
        WHEN Friends_circle_size BETWEEN 6 AND 10 THEN '6-10'
        WHEN Friends_circle_size BETWEEN 11 AND 15 THEN '11-15'
        WHEN Friends_circle_size BETWEEN 16 AND 20 THEN '16-20'
        ELSE 'Unknown'
    END AS size_bin,
    COUNT(*) AS group_count,
    AVG(Friends_circle_size) AS Average_Group_Size
FROM 
    `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
WHERE
    Personality = 'Introvert'
GROUP BY 
    size_bin
ORDER BY 
    CASE 
        WHEN size_bin = '0-5' THEN 1
        WHEN size_bin = '6-10' THEN 2
        WHEN size_bin = '11-15' THEN 3
        WHEN size_bin = '16-20' THEN 4
        ELSE 5
    END;
"""

query_5 = bq_client.query(query).to_dataframe()
query_5.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  size_bin  group_count  Average_Group_Size
0      0-5         1293            2.705336
1     6-10           29            8.689655
2    11-15           50           12.720000
3  Unknown           37                 NaN

---

In [7]:
# Check correlation between Post Frequency and Friends Circle Size
query = f"""
SELECT Personality, CORR(Post_frequency, Friends_circle_size) AS Post_Freq_Friend_Circle_Size_Corr
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_6 = bq_client.query(query).to_dataframe()
query_6.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Post_Freq_Friend_Circle_Size_Corr
0   Introvert                           0.642369
1   Extrovert                           0.304739

In [10]:
# Check correlation between Post Frequency and Time Spent Alone
query = f"""
SELECT Personality, CORR(Post_frequency, Social_event_attendance) AS Post_Freq_Social_Attendance_Corr
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_7 = bq_client.query(query).to_dataframe()
query_7.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Post_Freq_Social_Attendance_Corr
0   Introvert                           0.60901
1   Extrovert                           0.38624

In [11]:
# Check correlation between Post Frequency and Social Event Attendance
query = f"""
SELECT Personality, CORR(Post_frequency, Time_spent_Alone) AS Post_Freq_Time_Spent_Alone_Corr
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_8 = bq_client.query(query).to_dataframe()
query_8.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Post_Freq_Time_Spent_Alone_Corr
0   Introvert                        -0.456801
1   Extrovert                        -0.456529

In [12]:
# Assess average social event attendance per personality type
query = f"""
SELECT Personality, AVG(Social_event_attendance) AS Average_Social_Event_Attendance
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_9 = bq_client.query(query).to_dataframe()
query_9.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Average_Social_Event_Attendance
0   Introvert                         1.778909
1   Extrovert                         6.016405

In [13]:
# Assess average post frequency per personality type
query = f"""
SELECT Personality, AVG(Post_frequency) AS Average_Social_Post_Frequency
FROM `ccbd-exam-2025-darnall.intro_extro_behavior.intro_extro_data`
GROUP BY Personality;
"""

query_10 = bq_client.query(query).to_dataframe()
query_10.head()

C:\Users\adarnall\miniconda3\Lib\site-packages\google\cloud\bigquery\table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Personality  Average_Social_Post_Frequency
0   Introvert                       1.368918
1   Extrovert                       5.638546

---

In [19]:
# Storing the SQL Query Results to the Google Cloud Storage Bucket, under the /jupyterlab-results
import gcsfs

# Define the path where you want to store the file in GCS
bucket_name = "ccbd-exam-2025-darnall-gc-bucket"
directory = "data-analytics-results/jupyterlab-results"
file_name = "dataset_balance_jp.csv"
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"

# Save the DataFrame as a CSV to the GCS bucket
fs = gcsfs.GCSFileSystem()

# Save the DataFrame as a CSV file to GCS
with fs.open(gcs_path, 'w') as file:
    query_1.to_csv(file, index=False)

In [20]:
# Store the 2nd SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "absolute_friendcount_results_jp.csv"


with fs.open(gcs_path, 'w') as file:
    query_2.to_csv(file, index=False)

In [21]:
# Store the 3rd SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "average_friendgroup_size_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_3.to_csv(file, index=False)

In [22]:
# Store the 4th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "extrovert_friendgroup_trends_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_4.to_csv(file, index=False)

In [23]:
# Store the 5th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "introvert_friendgroup_trends_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_5.to_csv(file, index=False)

In [24]:
# Store the 6th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "corr_postfreq_friendgroup_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_6.to_csv(file, index=False)

In [25]:
# Store the 7th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "corr_postfreq_alonetime_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_7.to_csv(file, index=False)

In [26]:
# Store the 8th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "corr_postfreq_socialatt_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_8.to_csv(file, index=False)

In [27]:
# Store the 9th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "social_event_attendance_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_9.to_csv(file, index=False)

In [28]:
# Store the 10th SQL Query Result
gcs_path = f"gs://{bucket_name}/{directory}/{file_name}"
file_name = "post_frequency_jp.csv"

with fs.open(gcs_path, 'w') as file:
    query_10.to_csv(file, index=False)

---